################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/React-Template/v14
/src/packages
/src/React-Template/client/jspm_packages
